body {
    background-color: #677271
}

h1{
   color: #ec0a0a; 
}

h2{
    color: #ec0a0a; 
}

ul li{
    color:#FFC660;
}

p{
   color: #FFC660; 
}

button{
    color: blue;
    background-color: white;
}

ol li{
   color: #FFC660; 
}

dd{
    color:#FFC660;
}

dt{
    color: #FFC660;
}







